html, body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  font-family: Helvetica Neue, Arial, Helvetica, Verdana, sans-serif;
  color: #444
}

#root {
  margin: 0 auto;
  max-width: 760px;
}

h1 {
  margin: 0;
  padding: 0;
}
